// Global styles
@import "bootstrap/scss/bootstrap";

*,
body,
html {
    color: black !important;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
}

.search,
.book-seat,
.register,
.login {
    background-color: #d84e55 !important;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    color: white !important;
    cursor: pointer;
}